#activityWrapper{
    width: 50%;
    margin: auto;
}

.contentContainer {
    overflow: auto;
}

.contactContainer{
    width: 90%;
    margin: 0 auto;
}

.outerContent {
    margin-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    background-color: #e7ecf1;
    border-radius: 10px;
}

.innerContent {
    padding: 10px;
}

.outerContent:hover {
    background-color: #dee2e6;
}

.contentWrapper{
    width: 100%;
}