.form-text  {
    border: 1px solid black; /*Dit zorgt ervoor dat de border 1px is en de kleur zwart heeft.*/
    border-radius: 5px; /*Dit zorgt ervoor dat de hoeken afgerond zijn met een radius van 5px.*/
    width: 95%; /*Dit zorgt ervoor dat de breedte 95% is.*/
}

.rand   {
    border: 2px solid black; /*Dit zorgt ervoor dat de border 1px is en de kleur zwart heeft.*/
    padding: 10px; /*Dit zorgt voor een leegte tussen de zwarte lijn en de inhoud van 10px.*/
}

label   {
    float: left; /*Dit zorgt ervoor dat de text links is.*/
    margin-left: 3%; /*Dit zorgt ervoor dat de teskt op gelijke hoogte is met de input.*/
}

.verzenden  {
    float: right; /*Dit zorgt ervoor dat de knop verzenden rechts is.*/
    margin-right: 3%; /*Dit zorgt ervoor dat de knop op gelijke hoogte is met de input.*/
    background-color: #005AAA; /*Dit geeft de knop de kleur blauw uit het huisstijldocumen.t*/
    color: white; /*Dit geeft de tekst in de knop een witte kleur.*/
}

#message    {
    resize: none; /*Dit zorgt ervoor dat de textarea een vaste grootte heeft.*/
}

.error  {
    color: red; /*Dit geeft de tekst van de error de kleur rood.*/
    margin: 0; /*Dit zorgt ervoor dat er geen extra ruimte zit tussen de error en de input.*/
    float: right; /*Dit zorgt ervoor dat de error rechts is.*/
    margin-right: 3%; /*Dit zorgt ervoor dat de error op gelijke hoogte is met de input.*/
}

#gelukt {
    color: #005AAA; /*Dit geeft de tekst van gelukt de kleur blauw uit het huisstijldocument.*/
    float: left; /*Dit zorgt ervoor dat de tekst van geluk links naast de knop verzenden staat.*/
    margin-left: 3%; /*Dit zorgt ervoor dat de tekst van geluk op gelijke hoogte is met de input.*/
}

#title  {
    font-weight: bold;
    font-size: 30px;
    margin-left: 3%;
}