#logoheader {
  height: 100px;
  float: right;
  line-height: 120px;
}
#usernameheader {
  font-weight: bold;
  color: white;
  float: center;
}
#buttoncontainerheader {
  line-height: 120px;
}

.headerbutton {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 10px;
  float: center;
  transition: all 0.3s ease;
}

.headerbutton:hover {
  color: deepskyblue;
}

#langflag {
  width: 20px;
  height: 15px;
}

#headerbase {
  background-color:#005AAA;
}

#footerbase {
  position: fixed;
  bottom: 0;
  height: 3vh;
  background-color: #005aaa;
}

#footertext {
  text-align: center;
  color: white;
  padding-left: 30px;
}

.blue {
  color: deepskyblue;
}

.active {
  color: deepskyblue;
}

#translatebutton {
  text-align: left;
  color: white;
  float: center;
  text-decoration: none;
  font-weight: bold;
}