#logoheader {
    height: 100px;
    float: right;
    line-height: 120px;
}
#usernameheader { 
    font-family: cera;
    font-weight: bold;
    color:white;

}
#buttoncontainerheader {
    line-height: 120px;
}

#headerbutton {
    color: white;
    text-decoration: none;
    font-family: Cera;
    font-weight: bold;
    padding-left: 10px;
    float: center;}

#footer {
    background-color: #005AAA; }

#footertext {
    Color: white;
    font-family: Cera;
    padding-left: 10px; }