.error {
    color: #FF0000;
    margin-left: 10%;
}

.inputBox {
    width: 80%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: -10%;
}

.paragraph {
    color: black;
    margin-left: 10%;
}

#title {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10%;
}

#login {
    border-radius: 0px;
    width: 130px;
    background-color: #005AAA;
    color: white;
    font-weight: bold;
    height: 35px;
    float: right;
    margin-right: 30px;
}

#redirect {
    text-align: center;
    font-size: 20px;
}

.rand   {
    border: 2px solid black; /*Dit zorgt ervoor dat de border 1px is en de kleur zwart heeft.*/
    padding: 10px; /*Dit zorgt voor een leegte tussen de zwarte lijn en de inhoud van 10px.*/
}