.sport:hover { 
    background-color: rgba(90, 170, 0, 0.2);
}

.beeldendekunst:hover {
    background-color: rgba(170, 0, 90, 0.2);
}

.muziekendans:hover {
    background-color: rgba(0, 170, 165, 0.2);
}

.film:hover {
    background-color: rgba(170, 0, 5, 0.2);
}

.kaartje {
	height: 600px;
	margin-bottom: 25px;
}

button {
	background-color: #005aaa;
	color: white;
	font-weight: bold;
	float: right;
}

.knop-box {
	position: absolute;
	width: 90%; 
	bottom: 10px;
}

.marginRandje {
	margin: 5px;
	border: 1px solid black;
	height: 600px;
}
